<h1 style = "color:#0D0630">Query 1</h1>

<div style="border:2px solid #C57B57; padding: 7px; background-color:#FEFAEC">
<h2 style="color:#3A435E"><b>Proposition Statement:</h2>
<h3>Show all instructors who are teaching in classes in multiple departments.</b></h3>
<p><i>(Completed by Jude Pierre)</i></p></div>

In [ ]:
Use QueensClassSchedule;

SELECT DI.InstructorFullName
FROM [dbo].[Department_Instructor] AS DI
    INNER JOIN [Course].Class AS C 
        ON DI.InstructorFullName = C.InstructorFullName
GROUP BY DI.InstructorFullName
HAVING COUNT(DI.DepartmentKey) > 1 AND COUNT(C.ClassKey) > 1;

<h1 style = "color:#0D0630">Query 2</h1>

<div style="border:2px solid #C57B57; padding: 7px; background-color:#FEFAEC">
<h2 style="color:#3A435E"><b>Proposition Statement:</h2>
<h3><b>Count the number of instructors in each department.</b></h3>
<p><i>(Completed by Osvaldo Talavera)</i></p>
</div>

In [ ]:
USE QueensClassSchedule;

SELECT D.DepartmentName, COUNT(DISTINCT I.InstructorKey) AS NumberOfInstructors
FROM Department.Department AS D
    INNER JOIN dbo.Department_Instructor AS DI 
    ON D.DepartmentKey = DI.DepartmentKey
    INNER JOIN Department.Instructor AS I 
    ON DI.InstructorKey = I.InstructorKey
GROUP BY D.DepartmentName
ORDER BY NumberOfInstructors DESC;

<h1 style = "color:#0D0630">Query 3</h1>

<div style="border:2px solid #C57B57; padding: 7px; background-color:#FEFAEC">
<h2 style="color:#3A435E"><b>Proposition Statement:</h2>
<h3><b>Show how many classes are being taught that semester, grouped by course, aggregating the total enrollment, total class limit, and percentage enrolled.</b></h3>
<p><i>(Completed by Kathy He)</i></p>
</div>

In [ ]:
USE QueensClassSchedule;

DECLARE @GrandTotalEnrolled INT;
SET @GrandTotalEnrolled = (SELECT SUM(NumberEnrolled) FROM [Course].[Class]);

SELECT CourseName,
       COUNT(ClassKey) AS NumberOfClasses,
       SUM(NumberEnrolled) AS TotalNumberEnrolled,
       SUM(Limit) AS TotalLimit,
       PercentageClassFilled = CAST((((SUM(NumberEnrolled)+0.0)/SUM(Limit))*100)AS decimal(5,2)),
       PercentageEnrolled = CAST((((SUM(NumberEnrolled)+0.0)/@GrandTotalEnrolled)*100)AS decimal(5,2))
FROM [Course].[Class]
GROUP BY CourseName;

<h1 style = "color:#0D0630">Query 4</h1>

<div style="border:2px solid #C57B57; padding: 7px; background-color:#FEFAEC">
<h2 style="color:#3A435E"><b>Proposition Statement:</h2>
<h3><b>Give a count of all the rooms that are inside each building that is used for teaching a class.</b></h3>
<p><i>(Completed by Jude Pierre)</i></p>
</div>

In [ ]:
---===========================================================
---This query gives a count of all the rooms that are inside each building
--- that is used for teaching a class.
---==========================================================
USE QueensClassSchedule;
SELECT  L.BuildingLocationKey, L.BuildingLocationName, COUNT(LL.RoomLocationKey) AS NumberOfTeachingRooms
From [Location].BuildingLocation AS L
LEFT OUTER JOIN [Location].RoomLocation AS LL
ON L.BuildingLocationKey = LL.BuildingLocationKey
GROUP BY L.BuildingLocationName, L.BuildingLocationKey

<h1 style = "color:#0D0630">Query 5</h1>

<div style="border:2px solid #C57B57; padding: 7px; background-color:#FEFAEC">
<h2 style="color:#3A435E"><b>Proposition Statement:</h2>
<h3><b>Display total number of classes and total enrollment for each day and section of the week.</b></h3>
<p><i>(Completed by Jamal Siddiqui)</i></p>
</div>

In [ ]:
USE [QueensClassSchedule];
GO

--Project 3: Other Query 2 - Jamal Siddiqui

SELECT
    Day,
    Section,
    COUNT(*) AS TotalClasses,
    SUM(NumberEnrolled) AS TotalEnrollment
FROM 
    Course.Class
GROUP BY 
    Day,
    Section
ORDER BY 
    Day,
    Section;

<h1 style = "color:#0D0630">Query 6</h1>

<div style="border:2px solid #C57B57; padding: 7px; background-color:#FEFAEC">
<h2 style="color:#3A435E"><b>Proposition Statement:</h2>
<h3><b>Show how many 4-credit classes still have enrollment slots open.</b></h3>
<p><i>(Completed by Jianhao Jin)</i></p>
</div>

In [ ]:
USE QueensClassSchedule;
GO

--All class with 4 credit that still has place to login
SELECT c.CourseName,c.CourseDescription, (CAST(c.Limit AS INT) - CAST(c.NumberEnrolled AS INT)) AS numberofSpace
FROM Course.Class as c
    INNER JOIN Course.Course AS co
        ON c.CourseKey = co.CourseKey
WHERE (CAST(c.Limit AS INT) - CAST(c.NumberEnrolled AS INT)) >0
AND co.NumberOfCredits = 4

<h1 style = "color:#0D0630">Query 7</h1>

<div style="border:2px solid #C57B57; padding: 7px; background-color:#FEFAEC">
<h2 style="color:#3A435E"><b>Proposition Statement:</h2>
<h3><b>Get a count of all classes, grouped by Mode of Instruction.</b></h3>
<p><i>(Completed by Kathy He)</i></p>
</div>

In [ ]:
USE QueensClassSchedule;

SELECT ModeOfInstructionName AS ModeOfInstruction,
       COUNT(ClassKey) AS NumberOfClasses
FROM Course.Class
GROUP BY ModeOfInstructionName;

<h1 style = "color:#0D0630">Query 8</h1>

<div style="border:2px solid #C57B57; padding: 7px; background-color:#FEFAEC">
<h2 style="color:#3A435E"><b>Proposition Statement:</h2>
<h3><b>Show the number of students enrolled in every overtallied class, along with percentage of the overtally.</b></h3>
<p><i>(Completed by Kathy He)</i></p>
</div>

In [ ]:
USE QueensClassSchedule;

SELECT NumberEnrolled,
       PercentageOvertallied = CAST(((NumberEnrolled+0.0)/Limit)*100 AS DECIMAL(5,2))
FROM [Course].[Class]
WHERE Overtally>0;

<h1 style = "color:#0D0630">Query 9</h1>

<div style="border:2px solid #C57B57; padding: 7px; background-color:#FEFAEC">
<h2 style="color:#3A435E"><b>Proposition Statement:</h2>
<h3><b>Show how many classes are held in each building where classes are being held this semester, from highest to lowest.</b></h3>
<p><i>(Completed by Kathy He)</i></p>
</div>

In [ ]:
USE QueensClassSchedule;

SELECT BL.BuildingLocationName AS BuildingName,
       COUNT(C.ClassKey) AS NumberOfClasses
FROM Course.Class AS C
    INNER JOIN Location.RoomLocation AS RL
        ON RL.RoomLocationKey = C.RoomLocationKey
            INNER JOIN Location.BuildingLocation AS BL
                ON BL.BuildingLocationKey = RL.BuildingLocationkey
GROUP BY BL.BuildingLocationName
ORDER BY NumberOfClasses DESC;

<h1 style = "color:#0D0630">Query 10</h1>

<div style="border:2px solid #C57B57; padding: 7px; background-color:#FEFAEC">
<h2 style="color:#3A435E"><b>Proposition Statement:</h2>
<h3><b>Show the number of classes each instructor teaches, depending on the days scheduled.</b></h3>
<p><i>(Completed by Kathy He)</i></p>
</div>

In [ ]:
USE QueensClassSchedule;

SELECT I.InstructorFirstName,
       I.InstructorLastName,
       C.Day,
       COUNT(C.CourseCode) AS CountOfClasses
FROM [Course].[Class] AS C
    LEFT OUTER JOIN [Department].[Instructor] AS I
        ON C.InstructorKey = I.InstructorKey
GROUP BY I.InstructorFirstName, I.InstructorLastName, C.[Day]
ORDER BY I.InstructorLastName;

<h1 style = "color:#0D0630">Query 11</h1>

<div style="border:2px solid #C57B57; padding: 7px; background-color:#FEFAEC">
<h2 style="color:#3A435E"><b>Proposition Statement:</h2>
<h3><b>Show the percentage of enrollment for the day(s) of the week that classes are held on, for each course.</b></h3>
<p><i>(Completed by Kathy He)</i></p>
</div>

In [ ]:
USE QueensClassSchedule;


SELECT CO.CourseName AS CourseName,
       C.Day AS DayOfWeek,
       SUM(C.NumberEnrolled) AS TotalNumberEnrolled,
       SUM(C.Limit) AS TotalLimit,
       CAST(((SUM(C.NumberEnrolled)+0.0)/
            (SELECT SUM(NumberEnrolled) FROM [Course].[Class] WHERE CourseName = CO.CourseName))*100 AS DECIMAL(4,2)) AS PercentageOfTotalEnrollment
FROM [Course].[Class] AS C
    INNER JOIN [Course].[Course] AS CO 
        ON C.CourseKey = CO.CourseKey
GROUP BY CO.CourseName, C.Day

<h1 style = "color:#0D0630">Query 12</h1>

<div style="border:2px solid #C57B57; padding: 7px; background-color:#FEFAEC">
<h2 style="color:#3A435E"><b>Proposition Statement:</h2>
<h3><b>Look at each course and its associated classes and compare the number of students enrolled for those classes based off mode of instruction.</b></h3>
<p><i>(Completed by Kathy He)</i></p>
</div>

In [ ]:
USE QueensClassSchedule;

SELECT CO.CourseName,
       MOI.ModeOfInstructionName,
       COUNT(C.ClassKey) AS NumberOfClasses,
       SUM(C.NumberEnrolled) AS NumberEnrolled
FROM [Course].[Course] AS CO 
    INNER JOIN [Course].[Class] AS C
        ON CO.CourseKey = C.CourseKey
            INNER JOIN [Class].[ModeOfInstruction] AS MOI
                ON C.ModeOfInstructionKey = MOI.ModeOfInstructionKey
GROUP BY CO.CourseName, MOI.ModeOfInstructionName
ORDER BY CO.CourseName, ModeOfInstructionName;

<h1 style = "color:#0D0630">Query 13</h1>

<div style="border:2px solid #C57B57; padding: 7px; background-color:#FEFAEC">
<h2 style="color:#3A435E"><b>Proposition Statement:</h2>
<h3><b>Create a function that will help the user search up which classes currently have openings if they provide the course title.</b></h3>
<p><i>(Completed by Kathy He)</i></p>
</div>

In [ ]:
USE [QueensClassSchedule];
GO

CREATE OR ALTER FUNCTION [Class].[itvf_GetAvailableClasses] (@CourseTitle varchar(50))
RETURNS TABLE
AS
RETURN (
    SELECT C.CourseCode, C.Section, C.CourseName, C.CourseDescription, C.InstructorFullName, C.Day, CO.NumberOfHours, C.NumberEnrolled, C.Limit
    FROM Course.Class AS C
        INNER JOIN Course.Course AS CO
            ON C.CourseKey = CO.CourseKey
    WHERE C.CourseName = @CourseTitle AND C.NumberEnrolled < C.Limit
);
GO

SELECT *
FROM [Class].[itvf_GetAvailableClasses]('ACCT 101 (4, 3)');